*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: auto;
}

header{
    width: 100%;
    height: 20vh;
    background: #262727;
}

section{
    width: 100%;
    height: 35vh;
    float: left;
    padding: 1%;
}


#cs2{
    background: #161616;

    
}

#valorant{
    background: #161616;
}

.skins{
    width: 18%;
    height: 30vh;
    background: #000000;
    margin-left: 1.6%;
    margin-top: 0.5vh;
    float: left;
    border-radius: 12px;
}

footer{
    width: 100%;
    height: 10vh;
    background: #262727;
    float: left;

}

section img{
    width: 150px;
    height: auto;
    margin-top: 1.5vh;
    margin-left: 15%;
}
section h3{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-top: 5vh;
    margin-left: 2%;
}
section h4{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    margin-top: 5vh;
    margin-left: 15%;
}
section h5{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-top: 5vh;
    margin-left: 18%;
}
section h6{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-top: 5vh;
    margin-left: 8%;
}